body{

}

.filter{

  width: 100vw;
  height: 100vw;
  z-index: 2;
}

.mycity{
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vw;
  background-image: url(../image/city.jpg);
  background-size: cover;
}

.mycity::before{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
	bottom: 0;
	left: 0;
  content: '';
}

.mytext{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 300px;
  height: 100px;
  word-break: normal;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 4vw;
  line-height: 1.2em;
  color: white;
}
