body{
  background-color: #000000;
}

.mytext{
  width: 80vw;
  font-family: "Helvetica";
  font-weight: bold;
  margin: 0 auto;
  margin-top: 0px;
  font-size: 288px;
  line-height: 320px;
  color: white;
  background-color: #ffcc00;
}
